body {
    background-color: #101010;
}

.member {
    border: 1px black solid;
    width: 95%;
    margin: 0 auto;
    background-color: #cbbe50;
    color: #000000;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.member img {
    display: block;
    margin: 15px auto;
    border-radius: 50%;
    border: 2px gold ridge;
}
.member .stats {
    padding: 10px;
}

.staff {
    border: 5px solid #101010;
    border-radius: 15px;
    text-align: center;
}

.staff h2 {
    color: white;
}

.staffMember {
    border: 1px #101010 solid;
    width: 60%;
    margin: 0 auto;
    background-color: #cbbe50;
    color: #101010;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 15px;
}
.staffMember img {
    display: block;
    margin: 15px auto;
    border-radius: 50%;
    border: 2px gold ridge;
}

.small {
    font-size: 12px;
}