body {
    background-color: #101010;
}

.member {
    border: 1px black solid;
    width: 90%;
    margin: 0 auto;
    background-color: #333333;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.member img {
    display: block;
    margin: 15px auto;
    border-radius: 50%;
    border: 2px gold ridge;
}

.hitreq {
    padding: 5px;
}

#boost {
    display: inline;
    padding: 0;
    position: absolute;
    margin-left: 20px;
    border: none;
}
#date {
    color: white;
    text-align: center;
    padding: 20px;
}

.level {
    margin: 10px;
}
.small {
    font-size: 12px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: #b9f2ff;
}
.gold {
    color: #cbbe50;
}